<div class="page-header">
  <h1><a href="/">Manoj Management</a></h1>
</div>

<p>
  <strong>
    Some say he’s wanted by MI5 and that he sleeps on all fours like a horse. All we know is he’s called Manoj.
  </strong>
  Just put your image size (width &amp; height) after our URL and we will send
  you a placeholder image.
</p>

<h2>Standard</h2>
<pre>
<%= request.base_url %>/200/300
</pre>

<h2>Grayscale</h2>
<pre>
<%= request.base_url %>/g/200/300
</pre>

<p><img src="/g/590/390" style="width: 100%"></p>
